
span {
    text-transform: uppercase;
}

span.primero {
    color: red;
    letter-spacing: 1em;
    word-spacing: 5em;
}

span.segundo {
    color: green;
    letter-spacing: 0.6em;
    word-spacing: 2em;
}

span.tercero {
    color: blue;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
}